@charset "UTF-8";

div.display {

    height: 300px;
    padding-top: 150px;
	margin: auto;
}

.list_title {
    margin: auto;
}
.form_box {
	width: 800px;
	margin: auto;
}
.form_con {
	margin: auto;
	text-align: start;
}
.form_table{
	margin: auto;
	text-align: center;
}

h2 {
	margin-top: 15%;
	margin: auto;
	padding-bottom: 30px;
	text-align: center;
	color: #8b4513;
}
table{
	margin: 0 auto;
	width: 100%;
	padding: 0.5em 1em;
    background: white;
    border-top: solid 5px #FF8D29;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
form {
	text-align: center;
	margin: center;

}
tr.hidden {
	margin: auto;
}
th {
    text-align: center;
    width: 200px;
    color: green;
    margin: auto 60px;
}
.required{
	background-color: red;
	color: white;
	font-weight: 10px;
}
td{
	margin: auto;
}
h3 {
	margin: 10px auto;
}
/* input[type='text']{
	font: 15px/24px sans-serif;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	border: 1px solid #1B2538;
	border-radius: 4px;
} */


/* input[textarea]{
	font: 15px/24px sans-serif;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	border: 1px solid #1B2538;
	border-radius: 4px;
} */
input[type='text']:focus{
	border: 1px solid #DA3C41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}
input[type='select']:focus{
	border: 1px solid #DA3C41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}
input[textarea]:focus{
	border: 1px solid #DA3C41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

input[name="RES_NAME"] {
	font: 14px/24px sans-serif;
	width: 450px;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	border: 1px solid #1B2538;
	border-radius: 4px;
}
input[name="category"]{
	font: 15px/24px sans-serif;
	width: 150%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	border: 1px solid #1B2538;
	border-radius: 4px;
}

input[name="TOGO_MEMO"] {
    height: 66px;
	width: 450px;
	margin: auto;
    font: 12px/24px sans-serif;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	border: 1px solid #1B2538;
	border-radius: 5px;
}
input[name="toGoRegist"] {
    margin: auto auto 15px auto;
    text-align: center;
    width: 120px;
    height: 40px;
    font-size: 20px;
	border-radius : 5%;          /* 角丸       */
	cursor        : pointer;     /* カーソル   */
	background    : #FF8D29;     /* 背景色     */
	color         : #FFFFFF;     /* 文字色     */
	line-height   : 0.5em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
	box-shadow    : 2px 2px 3px #666666;  /* 影の設定 */
	border        : 2px solid  #FF8D29;    /* 枠の指定 */
}
input[name="toGoRegist"]:hover {
	color: #DA3C41;
	background: white;
}
input[name="toGoEdit"] {
	margin-right: 15px;
    text-align: center;
    width: 120px;
    height: 40px;
    font-size: 20px;
    border-radius : 5%;          /* 角丸       */
	cursor        : pointer;     /* カーソル   */
	background    : #FF8D29;     /* 背景色     */
	color         : #FFFFFF;     /* 文字色     */
	line-height   : 0.5em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
	box-shadow    : 2px 2px 3px #666666;  /* 影の設定 */
	border        : 2px solid  #FF8D29;    /* 枠の指定 */
}
input[name="toGoEdit"]:hover {
	color: #DA3C41;
	background: white;
}
input[name="toGoDelete"] {
    text-align: center;
    width: 120px;
    height: 40px;
    font-size: 20px;
	border-radius : 5%;          /* 角丸       */
	cursor        : pointer;     /* カーソル   */
	background    : #FF8D29;     /* 背景色     */
	color         : #FFFFFF;     /* 文字色     */
	line-height   : 0.5em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
	box-shadow    : 2px 2px 3px #666666;  /* 影の設定 */
	border        : 2px solid  #FF8D29;    /* 枠の指定 */
}
input[name="toGoDelete"]:hover {
	color: #DA3C41;
	background: white;
}
.list_button{
	margin: 15px auto;
	text-align: center;
}
p.errmsg {
	margin: center;
	text-align: center;
}
