@charset "UTF-8";
h1 {
	text-align: center;
}
form {
	border: solid;
	color: #8b4513;
	text-align: center;
	width: 380px;
    margin: 30px auto;
    padding: 20px;


	background-color: #fef9a7;
}
body {
	background-color: #FFEE63;
}

