@charset "UTF-8";
.tab-group{
  display: flex;
  justify-content: center;
}
.prof{
	display: block;
	width: 40%;
	height: 225px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 255, 255, 0.67);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
	padding: 10px 0px;
	display: flex;
}
.right{
	margin-top: 30px;
	margin-left: 75px;
}
.left{
	margin-top: 45px;
	margin-left: 30px;
}
.tab{
  flex-grow: 1;
  padding:5px;
  list-style:none;
  border-bottom:solid 1px black;
  text-align:center;
  cursor:pointer;
}
/*
.panel-group{

}
 */

 .panel{
  display:none;

}
.tab.is-active{
  background:orange;
  color:#FFF;
  transition: all 0.5s ease-out;
}
.panel.is-show{
  display:block;
}






h1{
	width:400px;
	text-align: center;
	padding-top: 70px;
	margin: auto;

}