@charset "UTF-8";
.tab-group{
  display: flex;
  justify-content: center;
}
.prof{
	display: block;
	width: 40%;
	height: 165px;
/* 	margin-left: auto; */
	margin: auto;
	background-color: rgba(255, 255, 255, 0.67);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
	padding: 10px 0px;
	display: flex;
}
.right{
	margin-top: 10px;
	margin-left: 65px;
}
.left{
	margin-top: 47px;
	margin-left: 6px;

}
.tab{
  flex-grow: 1;
  padding:5px;
  list-style:none;
  border-bottom:solid 1px black;
  text-align:center;
  cursor:pointer;
  background: #FFEE63;
}
/*
.panel-group{

}
 */

 .panel{
  display:none;

}
.tab.is-active{
  background:orange;
  color:#FFF;
  transition: all 0.5s ease-out;
}
.panel.is-show{
  display:block;
}






h1{
	width:400px;
	text-align: center;
	padding-top: 70px;
	margin: auto;

}

div#list_table_wrapper{
	margin:auto;
	width:70%;
	background: #FFEE63;

}
th{
	background: #FFEE63;
}
td{
	text-align: center;
	background: #fef9a7;

}

input[type = 'submit']{
	border-radius : 5%;          /* 角丸       */
	font-size     : 14px;        /* 文字サイズ */
	cursor        : pointer;     /* カーソル   */
	padding       : 15px 15px;   /* 余白       */
	background    : #DA3C41;     /* 背景色     */
	color         : #FFFFFF;     /* 文字色     */
	line-height   : 0;           /* 1行の高さ  */
	/* width		  : 50%;		 ボタンの横の長さ */
	transition    : .3s;         /* なめらか変化 */
	box-shadow    : 2px 2px 3px #666666;  /* 影の設定 */
	border        : 2px solid #DA3C41;    /* 枠の指定 */
}
input[type = 'submit']:hover{
	color: #DA3C41;
	background: white;
}

body {
	background-image:url(/lunchBox/img/mypage_bgi.jpg);
	background-size: cover;
}

