@charset "UTF-8";


h2{
	margin-bottom: 0;
	text-align: center;
	padding-top: 5px;
    margin-top: 13%;
	height: 10%;
}

body{
    width: 800px;
    height: 100%;
    margin: auto;
    background-image:url(/lunchBox/img/newsettings.jpg);
	background-size: cover;


}
h2, form{
	 background-color: rgba(254, 249, 167, 0.85);
	 color:#8b4513;
	}

form{
	padding-bottom: 25px;

}

div{
	width:200px;
    margin:auto;
}
.tableForm{
	margin: auto;
}

.tableLeft {
	width: 230px;
}

.kousin{
	width:100px;
    margin:auto;
    text-align:center;
}
.center{
	width: 200px;
	text-align:center;
}
.leave {
	text-align:center;
	border-color: none;
	color: orengere

}


.eroor{
	width:800px;
	margin:auto;
	text-align:center;
}


