@charset "UTF-8";

h1{
	width:400px;
	text-align: center;
	padding-top: 70px;
	margin: auto;

}

body{
    width: 800px;
    margin: auto;

}

div{
	width:200px;
    margin:auto;
}

table.tableForm{
	margin: auto;
}
.tableLeft {
	width: 230px;
}

.kousin{
	width:100px;
    margin:auto;
    text-align:center;
}
.center{
	width: 200px;
	text-align:center;
}
.leave {
	text-align:center;
	border-color: none;
	color: orengere

}


.eroor{
	width:800px;
	margin:auto;
	text-align:center;
}


