@charset "UTF-8";

#displayBox .cm_box {
  display: none;
}
#displayBox .cm_box.active {
  display: block;
}

.searchBox{
	position:fixed;
	text-align: center;
}


.tab-group{
  display: flex;
  justify-content: center;
}

.tab{
  flex-grow: 1;
  padding:5px;
  list-style:none;
  border-bottom:solid 1px black;
  text-align:center;
  cursor:pointer;
}
/* .panel-group{
}
 */

.panel{
  display:none;
}
.tab.is-active{
  background:orange;
  color:#FFF;
  transition: all 0.5s ease-out;
}
.panel.is-show{
  display:block;
}

main{
	padding-top: 15%
}